

<section>
    <div class="con">
  
  
      <div class="conteudo">
       
        <section class="logo">
          <img src="../../assets/logo.png" height="350" width="350">
        </section>
  
  
  
        <section class="Cad">
          <form class="form" [formGroup]="form">
  
  
              <div class="conts">
                  <div class="itens">
                    <label for="">Nome</label>
                    <input class="form-control" placeholder="nome" formControlName="nome">
                  </div>
                  <div class="itens">
                    <label for="">Sobrenome</label>
                    <input class="form-control" placeholder="Sobrenome" type="text" formControlName="sobrenome">
                  </div>
              <div>
  
          </div>
  
       
        </div>
  
               <div class="conts">
                    <div class="itens">
                      <label for="">Email</label>
                      <input class="form-control" placeholder="Email" formControlName="email">
                    
                      <label for="">Senha</label>
                      <input class="form-control" placeholder="Senha" type="password" formControlName="senha">
                     </div>
                <div>
  
                </div>
  
             
              </div>
              <div class="conts">
                <div class="form-group itens ">
                  <label for="inputState">Setor</label>
                  <select id="inputState" class="form-control" formControlName="setor">
                    <option selected>...</option>
                    <option>Administração</option>
                    <option>Tecnologia da Informação</option>
                    <option>Limpesa</option>
                    <option>Recusros Humanos</option>
                    <option>Pesquisa e Desenvolvimento</option>
                    <option>Jurídico</option>
                    <option>Compras</option>
                    <option>Atendimento ao Cliente</option>
                    <option>Finanças</option>
                  </select>
               </div>
            
               <div class="itens">
                <label for="">Contato</label>
                <input class="form-control" placeholder="ex: (82) 9 98999-9999" type="tel" formControlName="contato">
            </div>
           
            </div>
            <div class="conts">
              <div class="itens">
                <label for="">Emissão do contrato</label>
                <input class="form-control"  type="date" formControlName="DataContrato">
              </div>
              <div class="itens">
                  <label for="">CPF</label>
                  <input class="form-control"  type="text" formControlName="cpf">
              </div>
            </div>
  
                <button class="btn btn-dark" (click)="datA()">
                  Registrar
                </button>
          </form>
        </section>
  
  
      </div>
    </div>
  
  
  </section>
  