.con{
    background-color: #2FA2EE;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo{
    min-width: 90%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}



.logo{
 
    width: 30%;
    min-height: 80vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cad{
    width: 65%;
    height: 80vh;
    background-color: #2FA2EE;
}
form{
    background-color:  aliceblue;
    width: 50vw;
    height: 87vh;
}
.conts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
  
}
.itens{
    margin: 15px;
    width: 100%;
    
}

.conts input {
    width:100%;

}

.btn
{
    margin: 20px;

}
