
    <main *ngIf="dados.admin == true"  class="fundo">

        <div class="barr">
    <section  class="image">
        <img src="../../assets/logo.png" height="160" width="160" >
       
        <div class="info">
            <p>{{menbers.length}}</p>
        <p class="h4">funcionarios</p>
        </div>
    </section>
    </div>
    
    
      <section class="box">
      <div class="conteudo">
        <div></div>
        <div  *ngFor="let user of menbers" class="cont">
            <p>{{user.id}}</p>
            <p>{{user.nome}}</p>
            <p>{{user.email}}</p>
            <p>{{user.cpf}}</p>
         
    
            <div class="">
                <img class="m-2" src="../../assets/ferramenta-lapis.png" width="20" height="20" (click)="edit(user)" >
                <img class="m-2" src="../../assets/lata-de-lixo.png"  width="20" height="20" >   
            </div>
        </div>
    </div>

       <img class="add" src="../../assets/comment-plus.svg" (click)="adicionar()">
      </section>
    
     
    </main>
    



   
    
    <main *ngIf="dados == null">
    <p>
        null
    </p>
    </main>
